@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@foreach (var item in ViewBag.produtos)
{
    <ul>
        <li>@item.Nome</li>
        <li>@item.Preco</li>
    </ul>
}